#output
{
	word-wrap: break-word !important;
	max-width: 100% !important;
}

input::placeholder
{
	color: #000 !important;
}

::-webkit-input-placeholder
{
	color: #000 !important;
}

::-moz-placeholder
{
	color: #000 !important;
	opacity: 100%;
}

:-ms-input-placeholder
{
	color: #000 !important;
}

:-moz-placeholder
{
	color: #000 !important;
}

.light-margin-top
{
	margin-top: 10px !important;
}

.medium-margin-top
{
	margin-top: 15px !important;
}

.strong-margin-top
{
	margin-top: 20px !important;
}

.light-padding-top
{
	padding-top: 10px !important;
}

.medium-padding-top
{
	padding-top: 15px !important;
}

.strong-padding-top
{
	padding-top: 20px !important;
}


.is-narrow-container
{
	margin-left: 15% !important;
	margin-right: 15% !important;
}