$endOfLine: "!important";

#output
{
	word-wrap: break-word $endOfLine;
	max-width: 100% $endOfLine;
}

input::placeholder
{
	color: #000 $endOfLine;
}

::-webkit-input-placeholder
{
	color: #000 $endOfLine;
}

::-moz-placeholder
{
	color: #000 $endOfLine;
	opacity: 100%;
}

:-ms-input-placeholder
{
	color: #000 $endOfLine;
}

:-moz-placeholder
{
	color: #000 $endOfLine;
}

.light-margin-top
{
	margin-top: 10px $endOfLine;
}

.medium-margin-top
{
	margin-top: 15px $endOfLine;
}

.strong-margin-top
{
	margin-top: 20px $endOfLine;
}

.light-padding-top
{
	padding-top: 10px $endOfLine;
}

.medium-padding-top
{
	padding-top: 15px $endOfLine;
}

.strong-padding-top
{
	padding-top: 20px $endOfLine;
}

textarea{
	width: 100%;
}

.is-narrow-container
{
	margin-left: 15% !important;
	margin-right: 15% !important;
}